<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Dream Dog</title>
  <script src="https://kit.fontawesome.com/79957f5457.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>
  <header>
    <section class="hero is-info is-small">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <h1 class='title'>
                  <a href='/'>My Dream Dog</a>
                </h1>
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                {% if loggedIn == True %}
                  <a href='/dashboard' class="navbar-item">
                    Dashboard
                  </a>
                  <a href='/quiz' class="navbar-item">
                    Quiz
                  </a>
                  <form class='logout-form' action='/api/users/logout' method='POST'>
                    <button class='main-button' type='submit'>Logout</button>
                  </form>
                {% else %}
                  <button class='main-button' onclick="location.href='/login';">Login</button>
                  <button class='main-button' onclick="location.href='/signup';">Signup</button>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    
  </header>
  <div class="wrapper">
    
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
        © Erica Siegel - My Dream Dog 2022
    </footer>
  </div>
  


</body>

</html>