/* Main Page Layout */
* {
    /* all elements in the page have border and padding included in width and height */
    box-sizing: border-box;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: #dae7ff;
}
a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    transition: color .1s;
}
a:hover {
    color:#003ba7;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* header {
    border-bottom: 1px solid #003ba7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}
header h1 {
    font-size: 30px;
} */
main {
    flex: 1;
    padding: 2% 4%;
}
footer {
    border-top: 1px solid #003ba7;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}
h1 {
    font-size: 20px;
    text-decoration: wavy;
}
/* Menu Buttons */
.btn-no-style {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
.btn-no-style:hover {
    background: none;
    color: #3486eb;
    
}

/* Dog Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.cardHeader {
    border-bottom: 1px solid #003ba7;
    font-family: 'lucida sans';
}
.stats {
    color: grey;
    font-size: 22px;
}
.card h4 {
    font-size: 20px;
    color: midnightblue;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.card li {
    text-align: left;
    list-style-type: none;
    list-style: none;
}

.dropdown-content {
    max-height: 30em;
    overflow: auto;
  }
button {
    width: 315px;
}

/* Dog List */
ol {
    /* take away list numbers */
    list-style-type: none;
}
.post {
    margin-bottom: 2%;
    line-height: 150%;
} 
.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}
.post-list {
    margin: 0;
    padding: 0;
  }

/* dashboard */
.container {
    display: flex; /* defines a flex container */
    flex-direction: row; /* aligns content along the main axes */
    justify-content: space-between; /* items are evenly distributed in the line */
    align-items: center; /* items are centered on the cross axis */
}
.dash {
    flex: 4; /* width of the flexbox child */
    padding: 10px;
}
.saved {
    background-color: white;
    border: groove blue;
    border-radius: 10px;
    padding: 10px;
}