/* Main Page Layout */
* {
    /* all elements in the page have border and padding included in width and height */
    box-sizing: border-box;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: #dae7ff;
}
a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    transition: color .1s;
}
a:hover {
    color:#003ba7;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* header {
    border-bottom: 1px solid #003ba7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}
header h1 {
    font-size: 30px;
} */
main {
    flex: 1;
    padding: 2% 4%;
}
.main-content {
    display: flex;
    justify-content: center;
}
footer {
    border-top: 1px solid #003ba7;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}
h1 {
    font-size: 20px;
    text-decoration: wavy;
}
/* Menu Buttons */
.btn-no-style {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
.btn-no-style:hover {
    background: none;
    color: #3486eb;
    
}

/* Dog Card */
.dog-card {
    border: 2px double;
    border-radius: 5px;
    width: 700px; 
    margin: 10px;
}
.card-header {
    align-content: center;
    background-color: darkblue;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}
.card-header h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: "Papyrus";
    text-align: center;
}
.card-header h3 {
    font-size: 15px;
    color: white;
    text-align: center;
}
.card-main {
    display: flex;
}
.dog-card img {
    max-height: 300px;
    display: block;
}
.card-content {
    font-size: 12px;
    align-self: flex-start;
    padding: 5px;
}
.card-right {
    display: flex;
    flex-direction: column;
}
ol {
    /* take away list numbers */
    list-style-type: none;
}
.dog-card button {
    padding: 5px;
    border-radius: 40px;
    max-width: 100px;
    margin: 10px;
    background-color: transparent;
}
.dog-card button:hover {
    padding: 5px;
    border-radius: 40px;
    max-width: 100px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.save-btn {
    border: 2px solid green;
}
.delete-btn {
    border: 2px solid red;
}


.dropdown-content {
    max-height: 30em;
    overflow: auto;
  } 
.main-button {
        background-color:#cceeff;
        border: 1px solid lightskyblue;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 0 10px 0 10px;
        height: fit-content;
        align-self: center;
}
.main-button:hover {
        background-color:#99ddff;
}



/* dashboard */
.container {
    display: flex; /* defines a flex container */
    flex-direction: row; /* aligns content along the main axes */
    justify-content: space-between; /* items are evenly distributed in the line */
    align-items: center; /* items are centered on the cross axis */
}
.dash {
    flex: 4; /* width of the flexbox child */
    padding: 10px;
    display: flex;
    justify-content: center;
}
.saved {
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
    width: 250px;
}
.saved-card-header {
    align-content: center;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px blue;
    justify-content: center;
}
.saved-card-header h3 {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.breed-btn {
    width: 100%;
    border: 1px dotted blue;
    background-color: azure;
}
.breed-btn:hover {
    width: 100%;
    border: 1px dotted blue;
    background-color:aliceblue;
}

/* Forms */
.form-container {
    display: flex; /* defines a flex container */
    justify-content: center;
}
input {
    background-color:lightskyblue;
    border: none;
    text-align: center;
}
input:focus {
    background-color:deepskyblue;
    border: none;
    text-align: center;
    outline: none;
    resize: none;

}
input:active {
    text-decoration: none;
}
.form-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-element input {
    width: 300px;
    height: 30px;
    margin: 5px 0 5px 0;
}
.form-button {
    background-color:#cceeff;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.form-button:hover {
    background-color:#99ddff;
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 10px;
}
.logout-form {
    display: flex;
}