<div class='dog-card'>
  <div class='card-header'>
    <div>
      <h2>{{ stats['name'] }}</h2>
    </div>
    <div>
      <h3>{{ stats['group'] }}</h3>
    </div>
  </div>

  <div class='card-main'>
    <div class='card-img'>
      <img src={{ stats['image'] }} alt={{ stats['breed'] }}>
    </div>
    <div class='card-right'>
      <div class='card-content'>
        <ol>
          <li>
            <b>Temperament:</b>
            <br/> 
            {{ stats['temp'] }}
          </li>
          <li>
            <b>Breed Use:</b>
            <br/> 
            {{ stats['use'] }}
          </li>
          <li>
            <b>Lifespan:</b>
            <br/> 
             {{ stats['lifespan'] }}
          </li>
          <li>
            <b>Height:</b>
            <br/> 
             {{ stats['height'] }} in.
          </li>
          <li>
            <b>Weight:</b>
            <br/> 
             {{ stats['weight'] }} lbs.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>