<div class='dog-card'>
  <div class='card-header'>
    <div>
      <h2>{{ stats['breeds'][0]['name'] }}</h2>
    </div>
    <div>
      <h3>{{ stats['breeds'][0]['breed_group'] }}</h3>
    </div>
  </div>

  <div class='card-main'>
    <div class='card-img'>
      <img src={{ stats['url'] }} alt={{ stats['breeds'][0]['name'] }}>
    </div>
    <div class='card-right'>
      <div class='card-content'>
        {% if loggedIn == True %}
        <div class='card-icons'>
            {% if stats['breeds'][0]['id'] not in ids %}

              {% if top_five|length > 0 %}
              <div id='not-saved{{loop.index}}' style='display:block'>
              {% else %}
              <div id='not-saved' style='display:block'>
              {% endif %}
                {% if top_five|length > 0 %}
                <form class='norefresh{{loop.index}}'>
                {% else %}
                <form class='norefresh'>
                {% endif %}
                
                  {% if top_five|length > 0 %}
                  <input type='hidden' id='form-id{{loop.index}}' name='id' value="{{ stats['breeds'][0]['id'] }}"></input>
                  <input type='hidden' id='form-name{{loop.index}}' name='name' value="{{ stats['breeds'][0]['name'] }}"></input>
                  {% else %}
                  <input type='hidden' id='form-name' name='name' value="{{ stats['breeds'][0]['name'] }}"></input>
                  <input type='hidden' id='form-id' value="{{ stats['breeds'][0]['id'] }}"></input>
                  {% endif %}

                  <button type='submit' name='submit' value='submit'>                 
                    <i class="far fa-save fa-lg"></i>
                  </button>
                </form>
              </div>
              {% if top_five|length > 0 %}
              <div id='saved{{loop.index}}' style='display:none'>
              {% else %}
              <div id='saved' style='display:none'>
              {% endif %}
                Saved!
              </div>
            {% else %}
              <div>
              Saved!
              </div>
            {% endif %}
            
          </div>
        {% endif %}
        <ol>
          <li>
            <b>Temperament:</b>
            <br/> 
            {{ stats['breeds'][0]['temperament'] }}
          </li>
          <li>
            <b>Breed Use:</b>
            <br/> 
            {{ stats['breeds'][0]['bred_for'] }}
          </li>
          <li>
            <b>Lifespan:</b>
            <br/> 
             {{ stats['breeds'][0]['life_span'] }}
          </li>
          <li>
            <b>Height:</b>
            <br/> 
             {{ stats['breeds'][0]['height']['imperial'] }} in.
          </li>
          <li>
            <b>Weight:</b>
            <br/> 
             {{ stats['breeds'][0]['weight']['imperial'] }} lbs.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

