{% extends "layout/main.html" %}

{% block body %}
<section class="hero is-info is-small">
    <div class="hero-body is-info">
      <div class="container has-text-centered">
        <p class="subtitle">
          Dashboard
        </p>
        <p>
          Find your saved dogs here...
        </p>
      </div>
    </div>
  </section>
<div class='container'>
    <div class='dash'>
      <div {{message}}>
        Click the button to the right to see your saved breeds.
      </div>
      <div {{attribute}}>
          {% include "partials/dog-info.html" %}
      </div>
    </div>
    <div class='saved'>
      <div class='saved-card-header'>
          <h3>Your Saved Dog Breeds</h3>
      </div>
      <div class='saved-card-content'>
          {% if saved|length > 0 %}
            <ol>
              {% for s in saved %}
              <li>
                <div class='saved-btn-row'>
                  <form method='POST' action='/dashboard'>
                    <button class='breed-btn' name='id' value={{ s['breed_id'] }}>{{ s['name'] }}</button>
                  </form>
                  <form method='POST' action='api/breeds/{{ s['id'] }}'>
                    <button class='delete-btn' type='submit'>
                      <i class="far fa-trash-alt fa-lg"></i>
                    </button></form>
                </div>
              </li>
              {% endfor %}
          {% else %}
            You don't have any saved breeds.
          {% endif %}
      </div>
    </div>
</div>
{% endblock %}