{% extends "layout/main.html" %}

{% block body %}
      <!-- Hero content: will be in the middle -->
    <section class="hero is-info is-small">
      <div class="hero-body is-info">
        <div class="container has-text-centered">
          <p class="subtitle">
            Choose a dog breed below to find out more...
          </p>
          <p>
            <form action='' method='POST'>
              <select name='all_breeds'>
                <option value='0'>Select a Dog Breed...</option>
                {% for b in breeds %}
                <option value='{{ b['id'] }}'>{{ b['breed']}}</option>
                {% endfor %}
              </select>
              <input type='Submit' name='Submit' value='Submit'/>
            </form>
          </p>
        </div>
      </div>
    </section>
    <div class='main-content'>
      {% include "partials/dog-info.html" %}
    </div>
{% endblock %}