{% extends "layout/main.html" %}

{% block body %}
      <!-- Hero content: will be in the middle -->
    <section class="hero is-info is-small">
      <div class="hero-body is-info">
        <div class="container has-text-centered">
          <p class="subtitle">
            Choose a dog breed below to find out more...
          </p>
          <p>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-light is-primary is-normal" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Select a Dog Breed</span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  {% for b in breeds %}
                    <a id='{{ b['id'] }}' class="dropdown-item is-info is-small">
                      {{ b['breed'] }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </section>
<ol class="post-list">
  <li>
    {% include "partials/dog-info.html" %}
  </li>
</ol>
{% endblock %}